# Database PostgreSQL
DATABASE_URL=postgresql+asyncpg://pla_user:pla_password@localhost:5433/pla_db

# Vector DB & Redis
QDRANT_URL=http://localhost:6333
REDIS_URL=redis://localhost:6380/0

# LLM Providers
OLLAMA_BASE_URL=http://localhost:11434
GROQ_API_KEY=
TAVILY_API_KEY=
JINA_API_KEY=

# Model Assignment (Sesuai Gambar Arsitektur Hybrid)
ORCHESTRATOR_MODEL=llama-3.3-70b-versatile
PLANNER_MODEL=llama-3.3-70b-versatile
RESEARCHER_MODEL=llama-3.3-70b-versatile
COMPOSER_MODEL=openai/gpt-oss-120b
TUTOR_MODEL=openai/gpt-oss-120b
EMBEDDING_MODEL=nomic-embed-text

# Keamanan & Auth
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=1440
